/* Set the background image */
#backgroundImageView {
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

/* Title style */
.title {
    -fx-font-size: 36px;
    -fx-fill: #FFA500;
    -fx-font-weight: bold;
}

/* Button style */
.button {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10;
}

/* Background color when hovering */
.button:hover {
    -fx-background-color: rgba(255, 165, 0, 0.7);
}

/* Set the panel background */
#settingsPane {
    -fx-background-color: rgba(0, 0, 0, 0.7);
}

/* Set text style */
.text-setting {
    -fx-font-size: 50px;
    -fx-fill: white;
}

/* Slider track style */
.slider .track {
    -fx-background-color: #333;
    -fx-background-radius: 5;
    -fx-pref-height: 6px;
}

/* Slider filled track style */
.slider .track .fill {
    -fx-background-color: #FFA500;
    -fx-background-radius: 5;
}

/* Slider thumb style */
.slider .thumb {
    -fx-background-color: #FFA500;
    -fx-background-radius: 15;
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}

/* Slider thumb hover effect */
.slider .thumb:hover {
    -fx-background-color: #FFB733;
}

/* Text style */
.text-control {
    -fx-font-size: 15px;
    -fx-fill: #FFA500;
    -fx-font-weight: bold;
}